  
html, body {
  margin: 0px;
  padding: 0px;
  height:100%;
  background: #D0D0D0;
}

#main {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  padding-bottom: 40px;
  min-height:100%;
  position:relative;
}

header {
  padding-top: 80px;
  padding-bottom: 80px;
}

img logo {
  padding: 80px;
  margin-left: 80px;
  margin-top: 40px;
}

footer {
  position:absolute;
  width: 100%;
  bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #fff;
  text-align:center;
}