  
html, body {
  margin: 0px;
  padding: 0px;
  height:100%;
  background: #E2E2E2;
}


#header {
  background-color: #313131;  
  padding-top: 10px;
  padding-bottom: 10px;
  color: #8E8E8E;
}

#header a {
  padding-left: 80px;
}

/* unvisited link */
a:link {
  color: #8E8E8E;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #8E8E8E;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #8E8E8E;
  text-decoration: none;
}

/* selected link */
a:active {
  color: #8E8E8E;
  text-decoration: none;
}

#main {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  background: #FEFEFE;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
  min-height:100%;
  position:relative;
}

#main img {
  padding-left: 20px;
  padding-top: 40px;
}

hr { 
    display: block;
    margin-top: 1.0em;
    margin-bottom: 0.5em;
    margin-left: 10px;
    margin-right: 10px;
    border-width: 1px;
} 


#footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #313131;  
  color: #8E8E8E;
}

#footer #leftfooter {
  float: left;
}
#footer #rightfooter {
  float: right;
}